
#background{
	width:100%;
	z-index:-1;
	position:absolute;
}


p{
 color:white;
 font-size:larger;	
}

#random-number{
 display:block;
 background-color:gold;
 padding:20px;
 width:10%; 
 font-size:30px;
 float:left;
 margin-bottom:10px;	
}

#counter{
float:left;
margin-left:10px;
}

.crystals{
clear:both;
}

